.content {
  .owlwrap {
    background-image: url('../images/bg-slider.png');

    .owl-carousel {
      padding-top: 50px;
      padding-left: 15px;
      position: relative;
      @media (max-width: $screen-xs-max) {
        padding-top: 25px;
      }

      .owl-dots {
        position: absolute;
        bottom: 30%;
        left: 85px;
        @media (max-width: $screen-xs-max) {
          left: 50%;
          transform: translateX(-50%);
          bottom: -20px;
        }

        .owl-dot {
          width: 20px;
          display: inline-block;
          cursor: pointer;

          span {
            width: 12px;
            height: 12px;
            display: block;
            border-radius: 50px;
            border: 1px solid #372a1e;
            background: transparent;
          }

          canvas {
            display: none;
            position: absolute;
          }

          &.active canvas {
            display: block;
          }

          &.active,
          &:hover {
            border-radius: 50%;

            span {
              background-color: #372a1e;
            }
          }
        }
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 40px;
    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
    @media (max-width: $screen-xs-max) {
      text-align: center;
      line-height: 19px;
    }
  }
}
