.footer{
  min-height: 150px;
  padding-top: 25px;
  background-color: #332318;
  @media (max-width: $screen-sm-max){
    text-align: center;
    padding-bottom: 25px;
  }
  &__text{
    position: relative;
    &:before{
      content: '';
      background-image: url('../images/map.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 168px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      right: 0;
      bottom: 0;
    }
    p{
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #F3EDE2;
      position: relative;
      z-index: 1;
      max-width: 350px;
      width: 100%;
      @media (max-width: $screen-sm-max){
        text-align: center;
        display: inline-block;
      }
      @media (max-width: $screen-xs-max){
        font-size: 13px;
      }
    }
  }
  &__contacts{
    padding-top: 10px;
    text-align: right;
    @media (max-width: $screen-sm-max){
      text-align: center;
    }
    .height{
      min-height: 56px;
      overflow: hidden;
    }
    ul{
      padding-left: 0;
      li{
        display: block;
        list-style-type: none;
        a{
          text-decoration: none;
          font-size: 25px;
          color: #F3EDE2;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          transition: all .3s;
          @media (max-width: $screen-xs-max){
            font-size: 16px;
          }
           @media (max-width: $screen-md-max){
            font-size: 20px;
          }
          &:hover{
            color: #806566;
          }
        }
        .-litle{
          font-size: 20px;
          text-decoration: underline;
          @media (max-width: $screen-xs-max){
            font-size: 16px;
          }
            @media (max-width: $screen-md-max){
            font-size: 18px;
          }
        }
        .icon-phonechat{
          position: absolute;
          left: 20px;
          top: 5px;
          font-size: 45px;
          color: #F3EDE2;
          @media (max-width: $screen-md-max){
            left: 10px;
          }
          @media (max-width: $screen-sm-max){
            display: none;
          }
        }
        .icon-envelope{
          position: absolute;
          left: 45px;
          font-size: 15px;
          color: #F3EDE2;
          @media (max-width: $screen-md-max){
            left: 20px;
          }
          @media (max-width: $screen-sm-max){
            display: none;
          }
        }
      }
    }
  }
}