.make {
  &__desc {
    padding-top: 40px;

    p {
      font-size: 18px;
      font-weight: 400;
      color: #000;
      margin: 0;
      padding-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    margin-top: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 15, 0.5);
    overflow: hidden;
    @media (max-width: $screen-sm-min) {
      padding: 20px 15px;
    }
    @media (max-width: $screen-md-min) {
      padding: 30px 15px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }

    img {
      max-width: 100%;
    }

    &--item {
      padding: 15px 45px;
      text-align: center;
      position: relative;
      @media (max-width: $screen-md-min) {
        padding-bottom: 0;
      }
      .make5{
        margin-top: 100px;
      }
    }

    &--items {
      height: 520px;
      padding: 10px 20px;
      @media (max-width: $screen-md-min) {
        height: 320px;
      }
      @media (max-width: $screen-xs-max) {
        height: 100%;
      }

      &:after {
        z-index: -1;
        content: '';
        background-color: #f3efe5;
        opacity: 0.7;
        position: absolute;
        transform: skew(-12deg);
        left: -55px;
        top: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 15px 0 rgba(0, 0, 15, 0.5);
        @media (max-width: $screen-sm-max) {
          display: none;
        }
      }

      .title_headline {
        text-align: center;

        h3 {
          font-size: 45px;
          color: #826e6f;
          font-weight: 600;
          @media (max-width: $screen-sm-min) {
            font-size: 30px;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 27px;
          }
        }
      }

      p {
        font-size: 20px;
        color: #826e6f;
        padding-top: 20px;
        line-height: 27px;
        font-family: 'Tahoma';
        padding-bottom: 10px;
        @media (max-width: $screen-sm-min) {
          padding-left: 0;
          font-size: 16px;
          line-height: 22px;
          padding-top: 40px;
        }
        @media (max-width: $screen-xs-max) {
          padding-top: 90px;
        }
      }
    }
  }
}
